<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,maximum-scale=1">
    <title>Manage Task</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="static/css/admin_dashboard_css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="static/js/admin_dashboard_js/script.js"></script>
</head>
<body>
    <style>
        .card-single h2{
            font-size: 1.5rem;
            color: aliceblue;
            align-items: center;
        }
        main{
            margin: 0;
            min-height: 40vh;
        }
        .cards{
            grid-gap:6rem;
            grid-template-columns: repeat(2,1fr);
            width: 70%;
            padding: 1rem;
        }
    </style>
<input type="checkbox" id="nav-toggle">
{% include 'admin_dashboard/sidebar_template.html' %}
<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Querry Dashboard
        </h2>
        <div class="search-wrapper">
    <span class="las la-search"></span>
    <input type="search" id="taskSearch" name="taskSearch" placeholder="Search By Tasks Id " oninput="filterJobs()">
</div>

        <div class="user-wrapper">
            <img src="static/img/Anuruddh.jpg" width="40px" height="40px" alt="">
            <div>
                <h4>Anuruddh Singh</h4>
                <small>Admin</small>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
    <div class="cards">
        <div class="card-single">
            <a href="/unsolved_quaries_by_admin">
                <div>
                    <h2>Unsolved Queries</h2>
                </div>
                <div>
                    <span class="las la-file"></span>
                </div>
            </a>
        </div>
        <div class="card-single">
            <a href="/solved_queries_by_admin">
                <div>
                    <h2>Resolved Queries</h2>
                </div>
                <div>
                    <span class="las la-file-alt"></span>
                </div>
            </a>
        </div>
    </div>
</div>
    <script src="static/js/Employee_dashboard_js/assign_option.js"></script>
    <div class="last-text" style="margin-top:50px;">
      <p>All Copyrights &COPY;ANNI Reserved</p>
    </div>
    </main>
</div>
</body>
</html>